body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.game-container {
    text-align: center;
}
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
    /* tabuleiro */
.board {
    display: grid;        /*grade*/
    grid-template-columns: repeat (4,100px); /* modelo das culunas como linhas e largura*/
    gap: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}
    /* cartas */
    